site/xmlpthg24.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="body">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="acronym" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="affiliation" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="applicationDifference" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="applicationWarning" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="article" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="assertion" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="author" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="authorDouble" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="authorship" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="book" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="citation" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="coauthor" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="collabCount" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="collabWork" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="collection" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="concept" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="conceptType" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="conceptWork" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="conferenceSeries" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="countryCollab" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="doiReference" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="inBook" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="inCollection" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="journal" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="journalAlias" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="missingCitedWork" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="missingCitingWork" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="missingCross" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="missingWork" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="orphan" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="otherWork" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="paper" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="phDThesis" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="proceedings" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="publisher" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="reference" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="referenceFlow" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="scenario" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="school" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="scopusAffiliation" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="scopusCity" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="scopusCountry" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="similarity" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="sourceGroup" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="translator" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="uncategorizedReference" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="workAffiliation" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="acronym">
		<xs:complexType>
			<xs:attribute name="applicationDataset" use="required" type="xs:IDREF"/>
			<xs:attribute name="id" use="required" type="xs:ID"/>
			<xs:attribute name="name" use="required" type="xs:string"/>
			<xs:attribute name="caseSensitive" use="required" type="xs:boolean"/>
			<xs:attribute name="conceptType" use="required" type="xs:IDREF"/>
			<xs:attribute name="label" use="required" type="xs:string"/>
			<xs:attribute name="nrOccurrences" use="required" type="xs:integer"/>
			<xs:attribute name="regExpr" use="required" type="xs:string"/>
			<xs:attribute name="revision" use="required" type="xs:integer"/>
			<xs:attribute name="shortName" use="required" type="xs:string"/>
			<xs:attribute name="weight" use="required" type="xs:double"/>
			<xs:attribute name="description" use="required" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="affiliation">
		<xs:complexType>
			<xs:attribute name="applicationDataset" use="required" type="xs:IDREF"/>
			<xs:attribute name="id" use="required" type="xs:ID"/>
			<xs:attribute name="name" use="required" type="xs:string"/>
			<xs:attribute name="nrUsed" use="required" type="xs:integer"/>
			<xs:attribute name="shortName" use="required" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="applicationDifference">
		<xs:complexType>
			<xs:attribute name="applicationDataset" use="required" type="xs:IDREF"/>
			<xs:attribute name="id" use="required" type="xs:ID"/>
			<xs:attribute name="name" use="required" type="xs:string"/>
			<xs:attribute name="item" use="required" type="xs:string"/>
			<xs:attribute name="type" use="required" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="applicationWarning">
		<xs:complexType>
			<xs:attribute name="applicationDataset" use="required" type="xs:IDREF"/>
			<xs:attribute name="id" use="required" type="xs:ID"/>
			<xs:attribute name="name" use="required" type="xs:string"/>
			<xs:attribute name="attrString" use="required" type="xs:string"/>
			<xs:attribute name="classString" use="required" type="xs:string"/>
			<xs:attribute name="item" use="required" type="xs:string"/>
			<xs:attribute name="limit" use="required" type="xs:string"/>
			<xs:attribute name="type" use="required" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="article">
		<xs:complexType>
			<xs:attribute name="applicationDataset" use="required" type="xs:IDREF"/>
			<xs:attribute name="id" use="required" type="xs:ID"/>
			<xs:attribute name="name" use="required" type="xs:string"/>
			<xs:attribute name="abstractText" use="required" type="xs:string"/>
			<xs:attribute name="accepted" use="required" type="xs:string"/>
			<xs:attribute name="author" use="required" type="xs:string"/>
			<xs:attribute name="authors" use="required" type="xs:IDREFS"/>
			<xs:attribute name="background" use="required" type="xs:boolean"/>
			<xs:attribute name="classification" use="required" type="xs:string"/>
			<xs:attribute name="cluster" use="required" type="xs:integer"/>
			<xs:attribute name="codeAvail" use="required" type="xs:string"/>
			<xs:attribute name="concept" use="required" type="xs:IDREFS"/>
			<xs:attribute name="constraints" use="required" type="xs:string"/>
			<xs:attribute name="cpSystem" use="required" type="xs:string"/>
			<xs:attribute name="crossrefCitations" use="required" type="xs:integer"/>
			<xs:attribute name="crossrefReferences" use="required" type="xs:integer"/>
			<xs:attribute name="crossrefStatus" use="required" type="xs:boolean"/>
			<xs:attribute name="dataAvail" use="required" type="xs:string"/>
			<xs:attribute name="daysToAccept" use="required" type="xs:integer"/>
			<xs:attribute name="daysToPublish" use="required" type="xs:integer"/>
			<xs:attribute name="doi" use="required" type="xs:string"/>
			<xs:attribute name="doiStatus" use="required" type="xs:boolean"/>
			<xs:attribute name="firstOnline" use="required" type="xs:string"/>
			<xs:attribute name="issn" use="required" type="xs:string"/>
			<xs:attribute name="key" use="required" type="xs:string"/>
			<xs:attribute name="keywords" use="required" type="xs:string"/>
			<xs:attribute name="language" use="required" type="xs:string"/>
			<xs:attribute name="localCopy" use="required" type="xs:string"/>
			<xs:attribute name="maxCitations" use="required" type="xs:integer"/>
			<xs:attribute name="nr" use="required" type="xs:integer"/>
			<xs:attribute name="nrCitations" use="required" type="xs:integer"/>
			<xs:attribute name="nrCitationsCovered" use="required" type="xs:integer"/>
			<xs:attribute name="nrConcepts" use="required" type="xs:integer"/>
			<xs:attribute name="nrEdges" use="required" type="xs:integer"/>
			<xs:attribute name="nrHyperLinks" use="required" type="xs:integer"/>
			<xs:attribute name="nrPages" use="required" type="xs:integer"/>
			<xs:attribute name="nrReferences" use="required" type="xs:integer"/>
			<xs:attribute name="nrReferencesCovered" use="required" type="xs:integer"/>
			<xs:attribute name="openAccess" use="required" type="xs:string"/>
			<xs:attribute name="openAccessType" use="required" type="xs:string"/>
			<xs:attribute name="pages" use="required" type="xs:string"/>
			<xs:attribute name="percentCitationsCovered" use="required" type="xs:double"/>
			<xs:attribute name="percentReferencesCovered" use="required" type="xs:double"/>
			<xs:attribute name="published" use="required" type="xs:string"/>
			<xs:attribute name="publisher" use="required" type="xs:IDREF"/>
			<xs:attribute name="rangeCitations" use="required" type="xs:integer"/>
			<xs:attribute name="received" use="required" type="xs:string"/>
			<xs:attribute name="relatedTo" use="required" type="xs:string"/>
			<xs:attribute name="relevanceAbstract" use="required" type="xs:double"/>
			<xs:attribute name="relevanceBody" use="required" type="xs:double"/>
			<xs:attribute name="relevanceTitle" use="required" type="xs:double"/>
			<xs:attribute name="revised" use="required" type="xs:string"/>
			<xs:attribute name="scopusCitations" use="required" type="xs:integer"/>
			<xs:attribute name="scopusStatus" use="required" type="xs:boolean"/>
			<xs:attribute name="shortName" use="required" type="xs:string"/>
			<xs:attribute name="solutionAvail" use="required" type="xs:string"/>
			<xs:attribute name="sourceGroup" use="required" type="xs:IDREF"/>
			<xs:attribute name="title" use="required" type="xs:string"/>
			<xs:attribute name="url" use="required" type="xs:string"/>
			<xs:attribute name="wosCitations" use="required" type="xs:integer"/>
			<xs:attribute name="wosReferences" use="required" type="xs:integer"/>
			<xs:attribute name="wosStatus" use="required" type="xs:boolean"/>
			<xs:attribute name="year" use="required" type="xs:integer"/>
			<xs:attribute name="journal" use="required" type="xs:IDREF"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="assertion">
		<xs:complexType>
			<xs:attribute name="applicationDataset" use="required" type="xs:IDREF"/>
			<xs:attribute name="id" use="required" type="xs:ID"/>
			<xs:attribute name="name" use="required" type="xs:string"/>
			<xs:attribute name="label" use="required" type="xs:string"/>
			<xs:attribute name="value" use="required" type="xs:string"/>
			<xs:attribute name="work" use="required" type="xs:IDREF"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="author">
		<xs:complexType>
			<xs:attribute name="applicationDataset" use="required" type="xs:IDREF"/>
			<xs:attribute name="id" use="required" type="xs:ID"/>
			<xs:attribute name="name" use="required" type="xs:string"/>
			<xs:attribute name="crossFamily" use="required" type="xs:string"/>
			<xs:attribute name="crossGiven" use="required" type="xs:string"/>
			<xs:attribute name="familyName" use="required" type="xs:string"/>
			<xs:attribute name="key" use="required" type="xs:string"/>
			<xs:attribute name="nrBackgroundCitations" use="required" type="xs:integer"/>
			<xs:attribute name="nrBackgroundWorks" use="required" type="xs:integer"/>
			<xs:attribute name="nrCitations" use="required" type="xs:integer"/>
			<xs:attribute name="nrWorks" use="required" type="xs:integer"/>
			<xs:attribute name="orcid" use="required" type="xs:string"/>
			<xs:attribute name="shortName" use="required" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="authorDouble">
		<xs:complexType>
			<xs:attribute name="applicationDataset" use="required" type="xs:IDREF"/>
			<xs:attribute name="id" use="required" type="xs:ID"/>
			<xs:attribute name="name" use="required" type="xs:string"/>
			<xs:attribute name="author1" use="required" type="xs:IDREF"/>
			<xs:attribute name="author2" use="required" type="xs:IDREF"/>
			<xs:attribute name="reason" use="required" type="xs:string"/>
			<xs:attribute name="work1" use="required" type="xs:IDREFS"/>
			<xs:attribute name="work2" use="required" type="xs:IDREFS"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="authorship">
		<xs:complexType>
			<xs:attribute name="applicationDataset" use="required" type="xs:IDREF"/>
			<xs:attribute name="id" use="required" type="xs:ID"/>
			<xs:attribute name="name" use="required" type="xs:string"/>
			<xs:attribute name="affiliation" use="required" type="xs:IDREFS"/>
			<xs:attribute name="author" use="required" type="xs:IDREF"/>
			<xs:attribute name="seqNr" use="required" type="xs:integer"/>
			<xs:attribute name="sequence" use="required" type="xs:string"/>
			<xs:attribute name="work" use="required" type="xs:IDREF"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="book">
		<xs:complexType>
			<xs:attribute name="applicationDataset" use="required" type="xs:IDREF"/>
			<xs:attribute name="id" use="required" type="xs:ID"/>
			<xs:attribute name="name" use="required" type="xs:string"/>
			<xs:attribute name="abstractText" use="required" type="xs:string"/>
			<xs:attribute name="accepted" use="required" type="xs:string"/>
			<xs:attribute name="author" use="required" type="xs:string"/>
			<xs:attribute name="authors" use="required" type="xs:IDREFS"/>
			<xs:attribute name="background" use="required" type="xs:boolean"/>
			<xs:attribute name="classification" use="required" type="xs:string"/>
			<xs:attribute name="cluster" use="required" type="xs:integer"/>
			<xs:attribute name="codeAvail" use="required" type="xs:string"/>
			<xs:attribute name="concept" use="required" type="xs:IDREFS"/>
			<xs:attribute name="constraints" use="required" type="xs:string"/>
			<xs:attribute name="cpSystem" use="required" type="xs:string"/>
			<xs:attribute name="crossrefCitations" use="required" type="xs:integer"/>
			<xs:attribute name="crossrefReferences" use="required" type="xs:integer"/>
			<xs:attribute name="crossrefStatus" use="required" type="xs:boolean"/>
			<xs:attribute name="dataAvail" use="required" type="xs:string"/>
			<xs:attribute name="daysToAccept" use="required" type="xs:integer"/>
			<xs:attribute name="daysToPublish" use="required" type="xs:integer"/>
			<xs:attribute name="doi" use="required" type="xs:string"/>
			<xs:attribute name="doiStatus" use="required" type="xs:boolean"/>
			<xs:attribute name="firstOnline" use="required" type="xs:string"/>
			<xs:attribute name="issn" use="required" type="xs:string"/>
			<xs:attribute name="key" use="required" type="xs:string"/>
			<xs:attribute name="keywords" use="required" type="xs:string"/>
			<xs:attribute name="language" use="required" type="xs:string"/>
			<xs:attribute name="localCopy" use="required" type="xs:string"/>
			<xs:attribute name="maxCitations" use="required" type="xs:integer"/>
			<xs:attribute name="nr" use="required" type="xs:integer"/>
			<xs:attribute name="nrCitations" use="required" type="xs:integer"/>
			<xs:attribute name="nrCitationsCovered" use="required" type="xs:integer"/>
			<xs:attribute name="nrConcepts" use="required" type="xs:integer"/>
			<xs:attribute name="nrEdges" use="required" type="xs:integer"/>
			<xs:attribute name="nrHyperLinks" use="required" type="xs:integer"/>
			<xs:attribute name="nrPages" use="required" type="xs:integer"/>
			<xs:attribute name="nrReferences" use="required" type="xs:integer"/>
			<xs:attribute name="nrReferencesCovered" use="required" type="xs:integer"/>
			<xs:attribute name="openAccess" use="required" type="xs:string"/>
			<xs:attribute name="openAccessType" use="required" type="xs:string"/>
			<xs:attribute name="pages" use="required" type="xs:string"/>
			<xs:attribute name="percentCitationsCovered" use="required" type="xs:double"/>
			<xs:attribute name="percentReferencesCovered" use="required" type="xs:double"/>
			<xs:attribute name="published" use="required" type="xs:string"/>
			<xs:attribute name="publisher" use="required" type="xs:IDREF"/>
			<xs:attribute name="rangeCitations" use="required" type="xs:integer"/>
			<xs:attribute name="received" use="required" type="xs:string"/>
			<xs:attribute name="relatedTo" use="required" type="xs:string"/>
			<xs:attribute name="relevanceAbstract" use="required" type="xs:double"/>
			<xs:attribute name="relevanceBody" use="required" type="xs:double"/>
			<xs:attribute name="relevanceTitle" use="required" type="xs:double"/>
			<xs:attribute name="revised" use="required" type="xs:string"/>
			<xs:attribute name="scopusCitations" use="required" type="xs:integer"/>
			<xs:attribute name="scopusStatus" use="required" type="xs:boolean"/>
			<xs:attribute name="shortName" use="required" type="xs:string"/>
			<xs:attribute name="solutionAvail" use="required" type="xs:string"/>
			<xs:attribute name="sourceGroup" use="required" type="xs:IDREF"/>
			<xs:attribute name="title" use="required" type="xs:string"/>
			<xs:attribute name="url" use="required" type="xs:string"/>
			<xs:attribute name="wosCitations" use="required" type="xs:integer"/>
			<xs:attribute name="wosReferences" use="required" type="xs:integer"/>
			<xs:attribute name="wosStatus" use="required" type="xs:boolean"/>
			<xs:attribute name="year" use="required" type="xs:integer"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="citation">
		<xs:complexType>
			<xs:attribute name="applicationDataset" use="required" type="xs:IDREF"/>
			<xs:attribute name="id" use="required" type="xs:ID"/>
			<xs:attribute name="name" use="required" type="xs:string"/>
			<xs:attribute name="authorSC" use="required" type="xs:string"/>
			<xs:attribute name="cited" use="required" type="xs:string"/>
			<xs:attribute name="citedWork" use="required" type="xs:IDREF"/>
			<xs:attribute name="citing" use="required" type="xs:string"/>
			<xs:attribute name="citingWork" use="required" type="xs:IDREF"/>
			<xs:attribute name="creation" use="required" type="xs:string"/>
			<xs:attribute name="journalSC" use="required" type="xs:string"/>
			<xs:attribute name="oci" use="required" type="xs:string"/>
			<xs:attribute name="timespan" use="required" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="coauthor">
		<xs:complexType>
			<xs:attribute name="applicationDataset" use="required" type="xs:IDREF"/>
			<xs:attribute name="id" use="required" type="xs:ID"/>
			<xs:attribute name="name" use="required" type="xs:string"/>
			<xs:attribute name="author1" use="required" type="xs:IDREF"/>
			<xs:attribute name="author2" use="required" type="xs:IDREF"/>
			<xs:attribute name="earliestYear" use="required" type="xs:integer"/>
			<xs:attribute name="latestYear" use="required" type="xs:integer"/>
			<xs:attribute name="nrCites" use="required" type="xs:integer"/>
			<xs:attribute name="nrWorks" use="required" type="xs:integer"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="collabCount">
		<xs:complexType>
			<xs:attribute name="applicationDataset" use="required" type="xs:IDREF"/>
			<xs:attribute name="id" use="required" type="xs:ID"/>
			<xs:attribute name="name" use="required" type="xs:string"/>
			<xs:attribute name="affiliation1" use="required" type="xs:IDREF"/>
			<xs:attribute name="affiliation2" use="required" type="xs:IDREF"/>
			<xs:attribute name="count" use="required" type="xs:integer"/>
			<xs:attribute name="fraction" use="required" type="xs:double"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="collabWork">
		<xs:complexType>
			<xs:attribute name="applicationDataset" use="required" type="xs:IDREF"/>
			<xs:attribute name="id" use="required" type="xs:ID"/>
			<xs:attribute name="name" use="required" type="xs:string"/>
			<xs:attribute name="affiliation1" use="required" type="xs:IDREF"/>
			<xs:attribute name="affiliation2" use="required" type="xs:IDREF"/>
			<xs:attribute name="fraction" use="required" type="xs:double"/>
			<xs:attribute name="work" use="required" type="xs:IDREF"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="collection">
		<xs:complexType>
			<xs:attribute name="applicationDataset" use="required" type="xs:IDREF"/>
			<xs:attribute name="id" use="required" type="xs:ID"/>
			<xs:attribute name="name" use="required" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="concept">
		<xs:complexType>
			<xs:attribute name="applicationDataset" use="required" type="xs:IDREF"/>
			<xs:attribute name="id" use="required" type="xs:ID"/>
			<xs:attribute name="name" use="required" type="xs:string"/>
			<xs:attribute name="caseSensitive" use="required" type="xs:boolean"/>
			<xs:attribute name="conceptType" use="required" type="xs:IDREF"/>
			<xs:attribute name="label" use="required" type="xs:string"/>
			<xs:attribute name="nrOccurrences" use="required" type="xs:integer"/>
			<xs:attribute name="regExpr" use="required" type="xs:string"/>
			<xs:attribute name="revision" use="required" type="xs:integer"/>
			<xs:attribute name="shortName" use="required" type="xs:string"/>
			<xs:attribute name="weight" use="required" type="xs:double"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="conceptType">
		<xs:complexType>
			<xs:attribute name="applicationDataset" use="required" type="xs:IDREF"/>
			<xs:attribute name="id" use="required" type="xs:ID"/>
			<xs:attribute name="name" use="required" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="conceptWork">
		<xs:complexType>
			<xs:attribute name="applicationDataset" use="required" type="xs:IDREF"/>
			<xs:attribute name="id" use="required" type="xs:ID"/>
			<xs:attribute name="name" use="required" type="xs:string"/>
			<xs:attribute name="concept" use="required" type="xs:IDREF"/>
			<xs:attribute name="count" use="required" type="xs:integer"/>
			<xs:attribute name="matchLevel" use="required" type="xs:string"/>
			<xs:attribute name="work" use="required" type="xs:IDREF"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="conferenceSeries">
		<xs:complexType>
			<xs:attribute name="applicationDataset" use="required" type="xs:IDREF"/>
			<xs:attribute name="id" use="required" type="xs:ID"/>
			<xs:attribute name="name" use="required" type="xs:string"/>
			<xs:attribute name="description" use="required" type="xs:string"/>
			<xs:attribute name="nrBackgroundCitations" use="required" type="xs:integer"/>
			<xs:attribute name="nrBackgroundPapers" use="required" type="xs:integer"/>
			<xs:attribute name="nrCitations" use="required" type="xs:integer"/>
			<xs:attribute name="nrPapers" use="required" type="xs:integer"/>
			<xs:attribute name="regExpr" use="required" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="countryCollab">
		<xs:complexType>
			<xs:attribute name="applicationDataset" use="required" type="xs:IDREF"/>
			<xs:attribute name="id" use="required" type="xs:ID"/>
			<xs:attribute name="name" use="required" type="xs:string"/>
			<xs:attribute name="count" use="required" type="xs:integer"/>
			<xs:attribute name="country1" use="required" type="xs:IDREF"/>
			<xs:attribute name="country2" use="required" type="xs:IDREF"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="doiReference">
		<xs:complexType>
			<xs:attribute name="applicationDataset" use="required" type="xs:IDREF"/>
			<xs:attribute name="id" use="required" type="xs:ID"/>
			<xs:attribute name="name" use="required" type="xs:string"/>
			<xs:attribute name="author" use="required" type="xs:string"/>
			<xs:attribute name="key" use="required" type="xs:string"/>
			<xs:attribute name="missingCross" use="required" type="xs:IDREF"/>
			<xs:attribute name="missingWork" use="required" type="xs:IDREF"/>
			<xs:attribute name="referredWork" use="required" type="xs:IDREF"/>
			<xs:attribute name="source" use="required" type="xs:string"/>
			<xs:attribute name="title" use="required" type="xs:string"/>
			<xs:attribute name="work" use="required" type="xs:IDREF"/>
			<xs:attribute name="year" use="required" type="xs:integer"/>
			<xs:attribute name="doi" use="required" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="inBook">
		<xs:complexType>
			<xs:attribute name="applicationDataset" use="required" type="xs:IDREF"/>
			<xs:attribute name="id" use="required" type="xs:ID"/>
			<xs:attribute name="name" use="required" type="xs:string"/>
			<xs:attribute name="abstractText" use="required" type="xs:string"/>
			<xs:attribute name="accepted" use="required" type="xs:string"/>
			<xs:attribute name="author" use="required" type="xs:string"/>
			<xs:attribute name="authors" use="required" type="xs:IDREFS"/>
			<xs:attribute name="background" use="required" type="xs:boolean"/>
			<xs:attribute name="classification" use="required" type="xs:string"/>
			<xs:attribute name="cluster" use="required" type="xs:integer"/>
			<xs:attribute name="codeAvail" use="required" type="xs:string"/>
			<xs:attribute name="concept" use="required" type="xs:IDREFS"/>
			<xs:attribute name="constraints" use="required" type="xs:string"/>
			<xs:attribute name="cpSystem" use="required" type="xs:string"/>
			<xs:attribute name="crossrefCitations" use="required" type="xs:integer"/>
			<xs:attribute name="crossrefReferences" use="required" type="xs:integer"/>
			<xs:attribute name="crossrefStatus" use="required" type="xs:boolean"/>
			<xs:attribute name="dataAvail" use="required" type="xs:string"/>
			<xs:attribute name="daysToAccept" use="required" type="xs:integer"/>
			<xs:attribute name="daysToPublish" use="required" type="xs:integer"/>
			<xs:attribute name="doi" use="required" type="xs:string"/>
			<xs:attribute name="doiStatus" use="required" type="xs:boolean"/>
			<xs:attribute name="firstOnline" use="required" type="xs:string"/>
			<xs:attribute name="issn" use="required" type="xs:string"/>
			<xs:attribute name="key" use="required" type="xs:string"/>
			<xs:attribute name="keywords" use="required" type="xs:string"/>
			<xs:attribute name="language" use="required" type="xs:string"/>
			<xs:attribute name="localCopy" use="required" type="xs:string"/>
			<xs:attribute name="maxCitations" use="required" type="xs:integer"/>
			<xs:attribute name="nr" use="required" type="xs:integer"/>
			<xs:attribute name="nrCitations" use="required" type="xs:integer"/>
			<xs:attribute name="nrCitationsCovered" use="required" type="xs:integer"/>
			<xs:attribute name="nrConcepts" use="required" type="xs:integer"/>
			<xs:attribute name="nrEdges" use="required" type="xs:integer"/>
			<xs:attribute name="nrHyperLinks" use="required" type="xs:integer"/>
			<xs:attribute name="nrPages" use="required" type="xs:integer"/>
			<xs:attribute name="nrReferences" use="required" type="xs:integer"/>
			<xs:attribute name="nrReferencesCovered" use="required" type="xs:integer"/>
			<xs:attribute name="openAccess" use="required" type="xs:string"/>
			<xs:attribute name="openAccessType" use="required" type="xs:string"/>
			<xs:attribute name="pages" use="required" type="xs:string"/>
			<xs:attribute name="percentCitationsCovered" use="required" type="xs:double"/>
			<xs:attribute name="percentReferencesCovered" use="required" type="xs:double"/>
			<xs:attribute name="published" use="required" type="xs:string"/>
			<xs:attribute name="publisher" use="required" type="xs:IDREF"/>
			<xs:attribute name="rangeCitations" use="required" type="xs:integer"/>
			<xs:attribute name="received" use="required" type="xs:string"/>
			<xs:attribute name="relatedTo" use="required" type="xs:string"/>
			<xs:attribute name="relevanceAbstract" use="required" type="xs:double"/>
			<xs:attribute name="relevanceBody" use="required" type="xs:double"/>
			<xs:attribute name="relevanceTitle" use="required" type="xs:double"/>
			<xs:attribute name="revised" use="required" type="xs:string"/>
			<xs:attribute name="scopusCitations" use="required" type="xs:integer"/>
			<xs:attribute name="scopusStatus" use="required" type="xs:boolean"/>
			<xs:attribute name="shortName" use="required" type="xs:string"/>
			<xs:attribute name="solutionAvail" use="required" type="xs:string"/>
			<xs:attribute name="sourceGroup" use="required" type="xs:IDREF"/>
			<xs:attribute name="title" use="required" type="xs:string"/>
			<xs:attribute name="url" use="required" type="xs:string"/>
			<xs:attribute name="wosCitations" use="required" type="xs:integer"/>
			<xs:attribute name="wosReferences" use="required" type="xs:integer"/>
			<xs:attribute name="wosStatus" use="required" type="xs:boolean"/>
			<xs:attribute name="year" use="required" type="xs:integer"/>
			<xs:attribute name="booktitle" use="required" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="inCollection">
		<xs:complexType>
			<xs:attribute name="applicationDataset" use="required" type="xs:IDREF"/>
			<xs:attribute name="id" use="required" type="xs:ID"/>
			<xs:attribute name="name" use="required" type="xs:string"/>
			<xs:attribute name="abstractText" use="required" type="xs:string"/>
			<xs:attribute name="accepted" use="required" type="xs:string"/>
			<xs:attribute name="author" use="required" type="xs:string"/>
			<xs:attribute name="authors" use="required" type="xs:IDREFS"/>
			<xs:attribute name="background" use="required" type="xs:boolean"/>
			<xs:attribute name="classification" use="required" type="xs:string"/>
			<xs:attribute name="cluster" use="required" type="xs:integer"/>
			<xs:attribute name="codeAvail" use="required" type="xs:string"/>
			<xs:attribute name="concept" use="required" type="xs:IDREFS"/>
			<xs:attribute name="constraints" use="required" type="xs:string"/>
			<xs:attribute name="cpSystem" use="required" type="xs:string"/>
			<xs:attribute name="crossrefCitations" use="required" type="xs:integer"/>
			<xs:attribute name="crossrefReferences" use="required" type="xs:integer"/>
			<xs:attribute name="crossrefStatus" use="required" type="xs:boolean"/>
			<xs:attribute name="dataAvail" use="required" type="xs:string"/>
			<xs:attribute name="daysToAccept" use="required" type="xs:integer"/>
			<xs:attribute name="daysToPublish" use="required" type="xs:integer"/>
			<xs:attribute name="doi" use="required" type="xs:string"/>
			<xs:attribute name="doiStatus" use="required" type="xs:boolean"/>
			<xs:attribute name="firstOnline" use="required" type="xs:string"/>
			<xs:attribute name="issn" use="required" type="xs:string"/>
			<xs:attribute name="key" use="required" type="xs:string"/>
			<xs:attribute name="keywords" use="required" type="xs:string"/>
			<xs:attribute name="language" use="required" type="xs:string"/>
			<xs:attribute name="localCopy" use="required" type="xs:string"/>
			<xs:attribute name="maxCitations" use="required" type="xs:integer"/>
			<xs:attribute name="nr" use="required" type="xs:integer"/>
			<xs:attribute name="nrCitations" use="required" type="xs:integer"/>
			<xs:attribute name="nrCitationsCovered" use="required" type="xs:integer"/>
			<xs:attribute name="nrConcepts" use="required" type="xs:integer"/>
			<xs:attribute name="nrEdges" use="required" type="xs:integer"/>
			<xs:attribute name="nrHyperLinks" use="required" type="xs:integer"/>
			<xs:attribute name="nrPages" use="required" type="xs:integer"/>
			<xs:attribute name="nrReferences" use="required" type="xs:integer"/>
			<xs:attribute name="nrReferencesCovered" use="required" type="xs:integer"/>
			<xs:attribute name="openAccess" use="required" type="xs:string"/>
			<xs:attribute name="openAccessType" use="required" type="xs:string"/>
			<xs:attribute name="pages" use="required" type="xs:string"/>
			<xs:attribute name="percentCitationsCovered" use="required" type="xs:double"/>
			<xs:attribute name="percentReferencesCovered" use="required" type="xs:double"/>
			<xs:attribute name="published" use="required" type="xs:string"/>
			<xs:attribute name="publisher" use="required" type="xs:IDREF"/>
			<xs:attribute name="rangeCitations" use="required" type="xs:integer"/>
			<xs:attribute name="received" use="required" type="xs:string"/>
			<xs:attribute name="relatedTo" use="required" type="xs:string"/>
			<xs:attribute name="relevanceAbstract" use="required" type="xs:double"/>
			<xs:attribute name="relevanceBody" use="required" type="xs:double"/>
			<xs:attribute name="relevanceTitle" use="required" type="xs:double"/>
			<xs:attribute name="revised" use="required" type="xs:string"/>
			<xs:attribute name="scopusCitations" use="required" type="xs:integer"/>
			<xs:attribute name="scopusStatus" use="required" type="xs:boolean"/>
			<xs:attribute name="shortName" use="required" type="xs:string"/>
			<xs:attribute name="solutionAvail" use="required" type="xs:string"/>
			<xs:attribute name="sourceGroup" use="required" type="xs:IDREF"/>
			<xs:attribute name="title" use="required" type="xs:string"/>
			<xs:attribute name="url" use="required" type="xs:string"/>
			<xs:attribute name="wosCitations" use="required" type="xs:integer"/>
			<xs:attribute name="wosReferences" use="required" type="xs:integer"/>
			<xs:attribute name="wosStatus" use="required" type="xs:boolean"/>
			<xs:attribute name="year" use="required" type="xs:integer"/>
			<xs:attribute name="collection" use="required" type="xs:IDREF"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="journal">
		<xs:complexType>
			<xs:attribute name="applicationDataset" use="required" type="xs:IDREF"/>
			<xs:attribute name="id" use="required" type="xs:ID"/>
			<xs:attribute name="name" use="required" type="xs:string"/>
			<xs:attribute name="isBlocked" use="required" type="xs:boolean"/>
			<xs:attribute name="issn" use="required" type="xs:string"/>
			<xs:attribute name="nrArticles" use="required" type="xs:integer"/>
			<xs:attribute name="nrBackgroundArticles" use="required" type="xs:integer"/>
			<xs:attribute name="nrBackgroundCitations" use="required" type="xs:integer"/>
			<xs:attribute name="nrCitations" use="required" type="xs:integer"/>
			<xs:attribute name="publisher" use="required" type="xs:IDREF"/>
			<xs:attribute name="shortName" use="required" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="journalAlias">
		<xs:complexType>
			<xs:attribute name="applicationDataset" use="required" type="xs:IDREF"/>
			<xs:attribute name="id" use="required" type="xs:ID"/>
			<xs:attribute name="name" use="required" type="xs:string"/>
			<xs:attribute name="alias" use="required" type="xs:string"/>
			<xs:attribute name="journal" use="required" type="xs:IDREF"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="missingCitedWork">
		<xs:complexType>
			<xs:attribute name="applicationDataset" use="required" type="xs:IDREF"/>
			<xs:attribute name="id" use="required" type="xs:ID"/>
			<xs:attribute name="name" use="required" type="xs:string"/>
			<xs:attribute name="doi" use="required" type="xs:string"/>
			<xs:attribute name="nrCitations" use="required" type="xs:integer"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="missingCitingWork">
		<xs:complexType>
			<xs:attribute name="applicationDataset" use="required" type="xs:IDREF"/>
			<xs:attribute name="id" use="required" type="xs:ID"/>
			<xs:attribute name="name" use="required" type="xs:string"/>
			<xs:attribute name="doi" use="required" type="xs:string"/>
			<xs:attribute name="nrCited" use="required" type="xs:integer"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="missingCross">
		<xs:complexType>
			<xs:attribute name="applicationDataset" use="required" type="xs:IDREF"/>
			<xs:attribute name="id" use="required" type="xs:ID"/>
			<xs:attribute name="name" use="required" type="xs:string"/>
			<xs:attribute name="author" use="required" type="xs:string"/>
			<xs:attribute name="count" use="required" type="xs:integer"/>
			<xs:attribute name="crossrefCitations" use="required" type="xs:integer"/>
			<xs:attribute name="crossrefReferences" use="required" type="xs:integer"/>
			<xs:attribute name="doi" use="required" type="xs:string"/>
			<xs:attribute name="source" use="required" type="xs:string"/>
			<xs:attribute name="title" use="required" type="xs:string"/>
			<xs:attribute name="type" use="required" type="xs:string"/>
			<xs:attribute name="url" use="required" type="xs:string"/>
			<xs:attribute name="year" use="required" type="xs:integer"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="missingWork">
		<xs:complexType>
			<xs:attribute name="applicationDataset" use="required" type="xs:IDREF"/>
			<xs:attribute name="id" use="required" type="xs:ID"/>
			<xs:attribute name="name" use="required" type="xs:string"/>
			<xs:attribute name="abstractText" use="required" type="xs:string"/>
			<xs:attribute name="author" use="required" type="xs:string"/>
			<xs:attribute name="chapter" use="required" type="xs:string"/>
			<xs:attribute name="concept" use="required" type="xs:IDREFS"/>
			<xs:attribute name="conceptWeight" use="required" type="xs:double"/>
			<xs:attribute name="crossrefCitations" use="required" type="xs:integer"/>
			<xs:attribute name="crossrefReferences" use="required" type="xs:integer"/>
			<xs:attribute name="doi" use="required" type="xs:string"/>
			<xs:attribute name="editor" use="required" type="xs:string"/>
			<xs:attribute name="encoded" use="required" type="xs:string"/>
			<xs:attribute name="isSelected" use="required" type="xs:boolean"/>
			<xs:attribute name="issue" use="required" type="xs:string"/>
			<xs:attribute name="key" use="required" type="xs:string"/>
			<xs:attribute name="keywords" use="required" type="xs:string"/>
			<xs:attribute name="knownAuthors" use="required" type="xs:integer"/>
			<xs:attribute name="nrCitations" use="required" type="xs:integer"/>
			<xs:attribute name="nrCited" use="required" type="xs:integer"/>
			<xs:attribute name="nrLinks" use="required" type="xs:integer"/>
			<xs:attribute name="page" use="required" type="xs:string"/>
			<xs:attribute name="publisher" use="required" type="xs:string"/>
			<xs:attribute name="relevance" use="required" type="xs:double"/>
			<xs:attribute name="source" use="required" type="xs:string"/>
			<xs:attribute name="title" use="required" type="xs:string"/>
			<xs:attribute name="type" use="required" type="xs:string"/>
			<xs:attribute name="url" use="required" type="xs:string"/>
			<xs:attribute name="volume" use="required" type="xs:string"/>
			<xs:attribute name="year" use="required" type="xs:integer"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="orphan">
		<xs:complexType>
			<xs:attribute name="applicationDataset" use="required" type="xs:IDREF"/>
			<xs:attribute name="id" use="required" type="xs:ID"/>
			<xs:attribute name="name" use="required" type="xs:string"/>
			<xs:attribute name="fileName" use="required" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="otherWork">
		<xs:complexType>
			<xs:attribute name="applicationDataset" use="required" type="xs:IDREF"/>
			<xs:attribute name="id" use="required" type="xs:ID"/>
			<xs:attribute name="name" use="required" type="xs:string"/>
			<xs:attribute name="abstractText" use="required" type="xs:string"/>
			<xs:attribute name="author" use="required" type="xs:string"/>
			<xs:attribute name="authors" use="required" type="xs:IDREFS"/>
			<xs:attribute name="chapter" use="required" type="xs:string"/>
			<xs:attribute name="concept" use="required" type="xs:IDREFS"/>
			<xs:attribute name="doi" use="required" type="xs:string"/>
			<xs:attribute name="editor" use="required" type="xs:string"/>
			<xs:attribute name="isFound" use="required" type="xs:boolean"/>
			<xs:attribute name="isSelected" use="required" type="xs:boolean"/>
			<xs:attribute name="issue" use="required" type="xs:string"/>
			<xs:attribute name="key" use="required" type="xs:string"/>
			<xs:attribute name="keywords" use="required" type="xs:string"/>
			<xs:attribute name="nr" use="required" type="xs:integer"/>
			<xs:attribute name="page" use="required" type="xs:string"/>
			<xs:attribute name="publisher" use="required" type="xs:string"/>
			<xs:attribute name="relevance" use="required" type="xs:double"/>
			<xs:attribute name="shortName" use="required" type="xs:string"/>
			<xs:attribute name="source" use="required" type="xs:string"/>
			<xs:attribute name="title" use="required" type="xs:string"/>
			<xs:attribute name="url" use="required" type="xs:string"/>
			<xs:attribute name="volume" use="required" type="xs:string"/>
			<xs:attribute name="workCount" use="required" type="xs:integer"/>
			<xs:attribute name="workType" use="required" type="xs:string"/>
			<xs:attribute name="year" use="required" type="xs:integer"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="paper">
		<xs:complexType>
			<xs:attribute name="applicationDataset" use="required" type="xs:IDREF"/>
			<xs:attribute name="id" use="required" type="xs:ID"/>
			<xs:attribute name="name" use="required" type="xs:string"/>
			<xs:attribute name="abstractText" use="required" type="xs:string"/>
			<xs:attribute name="accepted" use="required" type="xs:string"/>
			<xs:attribute name="author" use="required" type="xs:string"/>
			<xs:attribute name="authors" use="required" type="xs:IDREFS"/>
			<xs:attribute name="background" use="required" type="xs:boolean"/>
			<xs:attribute name="classification" use="required" type="xs:string"/>
			<xs:attribute name="cluster" use="required" type="xs:integer"/>
			<xs:attribute name="codeAvail" use="required" type="xs:string"/>
			<xs:attribute name="concept" use="required" type="xs:IDREFS"/>
			<xs:attribute name="constraints" use="required" type="xs:string"/>
			<xs:attribute name="cpSystem" use="required" type="xs:string"/>
			<xs:attribute name="crossrefCitations" use="required" type="xs:integer"/>
			<xs:attribute name="crossrefReferences" use="required" type="xs:integer"/>
			<xs:attribute name="crossrefStatus" use="required" type="xs:boolean"/>
			<xs:attribute name="dataAvail" use="required" type="xs:string"/>
			<xs:attribute name="daysToAccept" use="required" type="xs:integer"/>
			<xs:attribute name="daysToPublish" use="required" type="xs:integer"/>
			<xs:attribute name="doi" use="required" type="xs:string"/>
			<xs:attribute name="doiStatus" use="required" type="xs:boolean"/>
			<xs:attribute name="firstOnline" use="required" type="xs:string"/>
			<xs:attribute name="issn" use="required" type="xs:string"/>
			<xs:attribute name="key" use="required" type="xs:string"/>
			<xs:attribute name="keywords" use="required" type="xs:string"/>
			<xs:attribute name="language" use="required" type="xs:string"/>
			<xs:attribute name="localCopy" use="required" type="xs:string"/>
			<xs:attribute name="maxCitations" use="required" type="xs:integer"/>
			<xs:attribute name="nr" use="required" type="xs:integer"/>
			<xs:attribute name="nrCitations" use="required" type="xs:integer"/>
			<xs:attribute name="nrCitationsCovered" use="required" type="xs:integer"/>
			<xs:attribute name="nrConcepts" use="required" type="xs:integer"/>
			<xs:attribute name="nrEdges" use="required" type="xs:integer"/>
			<xs:attribute name="nrHyperLinks" use="required" type="xs:integer"/>
			<xs:attribute name="nrPages" use="required" type="xs:integer"/>
			<xs:attribute name="nrReferences" use="required" type="xs:integer"/>
			<xs:attribute name="nrReferencesCovered" use="required" type="xs:integer"/>
			<xs:attribute name="openAccess" use="required" type="xs:string"/>
			<xs:attribute name="openAccessType" use="required" type="xs:string"/>
			<xs:attribute name="pages" use="required" type="xs:string"/>
			<xs:attribute name="percentCitationsCovered" use="required" type="xs:double"/>
			<xs:attribute name="percentReferencesCovered" use="required" type="xs:double"/>
			<xs:attribute name="published" use="required" type="xs:string"/>
			<xs:attribute name="publisher" use="required" type="xs:IDREF"/>
			<xs:attribute name="rangeCitations" use="required" type="xs:integer"/>
			<xs:attribute name="received" use="required" type="xs:string"/>
			<xs:attribute name="relatedTo" use="required" type="xs:string"/>
			<xs:attribute name="relevanceAbstract" use="required" type="xs:double"/>
			<xs:attribute name="relevanceBody" use="required" type="xs:double"/>
			<xs:attribute name="relevanceTitle" use="required" type="xs:double"/>
			<xs:attribute name="revised" use="required" type="xs:string"/>
			<xs:attribute name="scopusCitations" use="required" type="xs:integer"/>
			<xs:attribute name="scopusStatus" use="required" type="xs:boolean"/>
			<xs:attribute name="shortName" use="required" type="xs:string"/>
			<xs:attribute name="solutionAvail" use="required" type="xs:string"/>
			<xs:attribute name="sourceGroup" use="required" type="xs:IDREF"/>
			<xs:attribute name="title" use="required" type="xs:string"/>
			<xs:attribute name="url" use="required" type="xs:string"/>
			<xs:attribute name="wosCitations" use="required" type="xs:integer"/>
			<xs:attribute name="wosReferences" use="required" type="xs:integer"/>
			<xs:attribute name="wosStatus" use="required" type="xs:boolean"/>
			<xs:attribute name="year" use="required" type="xs:integer"/>
			<xs:attribute name="proceedings" use="required" type="xs:IDREF"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="phDThesis">
		<xs:complexType>
			<xs:attribute name="applicationDataset" use="required" type="xs:IDREF"/>
			<xs:attribute name="id" use="required" type="xs:ID"/>
			<xs:attribute name="name" use="required" type="xs:string"/>
			<xs:attribute name="abstractText" use="required" type="xs:string"/>
			<xs:attribute name="accepted" use="required" type="xs:string"/>
			<xs:attribute name="author" use="required" type="xs:string"/>
			<xs:attribute name="authors" use="required" type="xs:IDREFS"/>
			<xs:attribute name="background" use="required" type="xs:boolean"/>
			<xs:attribute name="classification" use="required" type="xs:string"/>
			<xs:attribute name="cluster" use="required" type="xs:integer"/>
			<xs:attribute name="codeAvail" use="required" type="xs:string"/>
			<xs:attribute name="concept" use="required" type="xs:IDREFS"/>
			<xs:attribute name="constraints" use="required" type="xs:string"/>
			<xs:attribute name="cpSystem" use="required" type="xs:string"/>
			<xs:attribute name="crossrefCitations" use="required" type="xs:integer"/>
			<xs:attribute name="crossrefReferences" use="required" type="xs:integer"/>
			<xs:attribute name="crossrefStatus" use="required" type="xs:boolean"/>
			<xs:attribute name="dataAvail" use="required" type="xs:string"/>
			<xs:attribute name="daysToAccept" use="required" type="xs:integer"/>
			<xs:attribute name="daysToPublish" use="required" type="xs:integer"/>
			<xs:attribute name="doi" use="required" type="xs:string"/>
			<xs:attribute name="doiStatus" use="required" type="xs:boolean"/>
			<xs:attribute name="firstOnline" use="required" type="xs:string"/>
			<xs:attribute name="issn" use="required" type="xs:string"/>
			<xs:attribute name="key" use="required" type="xs:string"/>
			<xs:attribute name="keywords" use="required" type="xs:string"/>
			<xs:attribute name="language" use="required" type="xs:string"/>
			<xs:attribute name="localCopy" use="required" type="xs:string"/>
			<xs:attribute name="maxCitations" use="required" type="xs:integer"/>
			<xs:attribute name="nr" use="required" type="xs:integer"/>
			<xs:attribute name="nrCitations" use="required" type="xs:integer"/>
			<xs:attribute name="nrCitationsCovered" use="required" type="xs:integer"/>
			<xs:attribute name="nrConcepts" use="required" type="xs:integer"/>
			<xs:attribute name="nrEdges" use="required" type="xs:integer"/>
			<xs:attribute name="nrHyperLinks" use="required" type="xs:integer"/>
			<xs:attribute name="nrPages" use="required" type="xs:integer"/>
			<xs:attribute name="nrReferences" use="required" type="xs:integer"/>
			<xs:attribute name="nrReferencesCovered" use="required" type="xs:integer"/>
			<xs:attribute name="openAccess" use="required" type="xs:string"/>
			<xs:attribute name="openAccessType" use="required" type="xs:string"/>
			<xs:attribute name="pages" use="required" type="xs:string"/>
			<xs:attribute name="percentCitationsCovered" use="required" type="xs:double"/>
			<xs:attribute name="percentReferencesCovered" use="required" type="xs:double"/>
			<xs:attribute name="published" use="required" type="xs:string"/>
			<xs:attribute name="publisher" use="required" type="xs:IDREF"/>
			<xs:attribute name="rangeCitations" use="required" type="xs:integer"/>
			<xs:attribute name="received" use="required" type="xs:string"/>
			<xs:attribute name="relatedTo" use="required" type="xs:string"/>
			<xs:attribute name="relevanceAbstract" use="required" type="xs:double"/>
			<xs:attribute name="relevanceBody" use="required" type="xs:double"/>
			<xs:attribute name="relevanceTitle" use="required" type="xs:double"/>
			<xs:attribute name="revised" use="required" type="xs:string"/>
			<xs:attribute name="scopusCitations" use="required" type="xs:integer"/>
			<xs:attribute name="scopusStatus" use="required" type="xs:boolean"/>
			<xs:attribute name="shortName" use="required" type="xs:string"/>
			<xs:attribute name="solutionAvail" use="required" type="xs:string"/>
			<xs:attribute name="sourceGroup" use="required" type="xs:IDREF"/>
			<xs:attribute name="title" use="required" type="xs:string"/>
			<xs:attribute name="url" use="required" type="xs:string"/>
			<xs:attribute name="wosCitations" use="required" type="xs:integer"/>
			<xs:attribute name="wosReferences" use="required" type="xs:integer"/>
			<xs:attribute name="wosStatus" use="required" type="xs:boolean"/>
			<xs:attribute name="year" use="required" type="xs:integer"/>
			<xs:attribute name="school" use="required" type="xs:IDREF"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="proceedings">
		<xs:complexType>
			<xs:attribute name="applicationDataset" use="required" type="xs:IDREF"/>
			<xs:attribute name="id" use="required" type="xs:ID"/>
			<xs:attribute name="name" use="required" type="xs:string"/>
			<xs:attribute name="conferenceSeries" use="required" type="xs:IDREF"/>
			<xs:attribute name="shortName" use="required" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="publisher">
		<xs:complexType>
			<xs:attribute name="applicationDataset" use="required" type="xs:IDREF"/>
			<xs:attribute name="id" use="required" type="xs:ID"/>
			<xs:attribute name="name" use="required" type="xs:string"/>
			<xs:attribute name="nrWorks" use="required" type="xs:integer"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="reference">
		<xs:complexType>
			<xs:attribute name="applicationDataset" use="required" type="xs:IDREF"/>
			<xs:attribute name="id" use="required" type="xs:ID"/>
			<xs:attribute name="name" use="required" type="xs:string"/>
			<xs:attribute name="authorSC" use="required" type="xs:string"/>
			<xs:attribute name="cited" use="required" type="xs:string"/>
			<xs:attribute name="citedWork" use="required" type="xs:IDREF"/>
			<xs:attribute name="citing" use="required" type="xs:string"/>
			<xs:attribute name="citingWork" use="required" type="xs:IDREF"/>
			<xs:attribute name="creation" use="required" type="xs:string"/>
			<xs:attribute name="journalSC" use="required" type="xs:string"/>
			<xs:attribute name="oci" use="required" type="xs:string"/>
			<xs:attribute name="timespan" use="required" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="referenceFlow">
		<xs:complexType>
			<xs:attribute name="applicationDataset" use="required" type="xs:IDREF"/>
			<xs:attribute name="id" use="required" type="xs:ID"/>
			<xs:attribute name="name" use="required" type="xs:string"/>
			<xs:attribute name="from" use="required" type="xs:IDREF"/>
			<xs:attribute name="normalized" use="required" type="xs:double"/>
			<xs:attribute name="to" use="required" type="xs:IDREF"/>
			<xs:attribute name="value" use="required" type="xs:integer"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="scenario">
		<xs:complexType>
			<xs:attribute name="dirty" use="required" type="xs:boolean"/>
			<xs:attribute name="id" use="required" type="xs:ID"/>
			<xs:attribute name="name" use="required" type="xs:string"/>
			<xs:attribute name="valid" use="required" type="xs:boolean"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="school">
		<xs:complexType>
			<xs:attribute name="applicationDataset" use="required" type="xs:IDREF"/>
			<xs:attribute name="id" use="required" type="xs:ID"/>
			<xs:attribute name="name" use="required" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="scopusAffiliation">
		<xs:complexType>
			<xs:attribute name="applicationDataset" use="required" type="xs:IDREF"/>
			<xs:attribute name="id" use="required" type="xs:ID"/>
			<xs:attribute name="name" use="required" type="xs:string"/>
			<xs:attribute name="collabCount" use="required" type="xs:integer"/>
			<xs:attribute name="collabFraction" use="required" type="xs:double"/>
			<xs:attribute name="collabPercentage" use="required" type="xs:double"/>
			<xs:attribute name="domesticCollabCount" use="required" type="xs:integer"/>
			<xs:attribute name="domesticCollabFraction" use="required" type="xs:double"/>
			<xs:attribute name="inst" use="required" type="xs:string"/>
			<xs:attribute name="internationalCollabCount" use="required" type="xs:integer"/>
			<xs:attribute name="internationalCollabFraction" use="required" type="xs:double"/>
			<xs:attribute name="internationalPercentage" use="required" type="xs:double"/>
			<xs:attribute name="scopusCity" use="required" type="xs:IDREF"/>
			<xs:attribute name="workCount" use="required" type="xs:integer"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="scopusCity">
		<xs:complexType>
			<xs:attribute name="applicationDataset" use="required" type="xs:IDREF"/>
			<xs:attribute name="id" use="required" type="xs:ID"/>
			<xs:attribute name="name" use="required" type="xs:string"/>
			<xs:attribute name="scopusCountry" use="required" type="xs:IDREF"/>
			<xs:attribute name="workCount" use="required" type="xs:integer"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="scopusCountry">
		<xs:complexType>
			<xs:attribute name="applicationDataset" use="required" type="xs:IDREF"/>
			<xs:attribute name="id" use="required" type="xs:ID"/>
			<xs:attribute name="name" use="required" type="xs:string"/>
			<xs:attribute name="nrWorks" use="required" type="xs:integer"/>
			<xs:attribute name="workCount" use="required" type="xs:integer"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="similarity">
		<xs:complexType>
			<xs:attribute name="applicationDataset" use="required" type="xs:IDREF"/>
			<xs:attribute name="id" use="required" type="xs:ID"/>
			<xs:attribute name="name" use="required" type="xs:string"/>
			<xs:attribute name="cite1" use="required" type="xs:integer"/>
			<xs:attribute name="cite2" use="required" type="xs:integer"/>
			<xs:attribute name="cosine" use="required" type="xs:double"/>
			<xs:attribute name="dotProduct" use="required" type="xs:double"/>
			<xs:attribute name="nrSharedCitations" use="required" type="xs:integer"/>
			<xs:attribute name="nrSharedReferences" use="required" type="xs:integer"/>
			<xs:attribute name="ref1" use="required" type="xs:integer"/>
			<xs:attribute name="ref2" use="required" type="xs:integer"/>
			<xs:attribute name="similarity" use="required" type="xs:double"/>
			<xs:attribute name="similarityCite" use="required" type="xs:double"/>
			<xs:attribute name="similarityConcept" use="required" type="xs:double"/>
			<xs:attribute name="similarityRef" use="required" type="xs:double"/>
			<xs:attribute name="work1" use="required" type="xs:IDREF"/>
			<xs:attribute name="work2" use="required" type="xs:IDREF"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="sourceGroup">
		<xs:complexType>
			<xs:attribute name="applicationDataset" use="required" type="xs:IDREF"/>
			<xs:attribute name="id" use="required" type="xs:ID"/>
			<xs:attribute name="name" use="required" type="xs:string"/>
			<xs:attribute name="description" use="required" type="xs:string"/>
			<xs:attribute name="fromFlows" use="required" type="xs:integer"/>
			<xs:attribute name="nrWorks" use="required" type="xs:integer"/>
			<xs:attribute name="toFlows" use="required" type="xs:integer"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="translator">
		<xs:complexType>
			<xs:attribute name="applicationDataset" use="required" type="xs:IDREF"/>
			<xs:attribute name="id" use="required" type="xs:ID"/>
			<xs:attribute name="name" use="required" type="xs:string"/>
			<xs:attribute name="latex" use="required" type="xs:string"/>
			<xs:attribute name="unicode" use="required" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="uncategorizedReference">
		<xs:complexType>
			<xs:attribute name="applicationDataset" use="required" type="xs:IDREF"/>
			<xs:attribute name="id" use="required" type="xs:ID"/>
			<xs:attribute name="name" use="required" type="xs:string"/>
			<xs:attribute name="author" use="required" type="xs:string"/>
			<xs:attribute name="key" use="required" type="xs:string"/>
			<xs:attribute name="missingCross" use="required" type="xs:IDREF"/>
			<xs:attribute name="missingWork" use="required" type="xs:IDREF"/>
			<xs:attribute name="referredWork" use="required" type="xs:IDREF"/>
			<xs:attribute name="source" use="required" type="xs:string"/>
			<xs:attribute name="title" use="required" type="xs:string"/>
			<xs:attribute name="work" use="required" type="xs:IDREF"/>
			<xs:attribute name="year" use="required" type="xs:integer"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="workAffiliation">
		<xs:complexType>
			<xs:attribute name="applicationDataset" use="required" type="xs:IDREF"/>
			<xs:attribute name="id" use="required" type="xs:ID"/>
			<xs:attribute name="name" use="required" type="xs:string"/>
			<xs:attribute name="scopusAffiliation" use="required" type="xs:IDREF"/>
			<xs:attribute name="work" use="required" type="xs:IDREF"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
